<div class='container'>

<div class='col-md-5'>
<h1> Bright Ideas Page!!!!!!!!!!!!!! </h1>
<h1> Sign Up here! </h1>

<div class="panel panel-default">

  <div class="panel-body">

    <form action='/create' method='post'>
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

        <div class ="form-group">
          <label for ='name'> Name:</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class ="form-group">
          <label for ='alias'> Alias:</label>
          <input type="text" class="form-control" id="alias" name="alias">
        </div>

        <div class ="form-group">
          <label for ='email'> Email:</label>
          <input type="text" class="form-control" id="email" name="email">
        </div>

        <div class ="form-group">
          <label for ='pwd'> Password:</label>
          <input type="password" class="form-control" id="pwd" name="password">
        </div>

        <div class ="form-group">
          <label for ='password_conformation'> Password Confirmation:</label>
          <input type="password" class="form-control" id="password_confirmation" name="password_confirmation">
        </div>
        <button type="submit" class="btn btn-default"> Sign Up </button>

    </form>


  </div>
</div>

</div>


<div class='col-md-1'></div>
<!-- login -->

<div class='col-md-5'>

<h1> Log in here! </h1>

<div class="panel panel-default">

  <div class="panel-body">

    <form action='/login' method='post'>
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

        <div class ="form-group">
          <label for ='email'> Email:</label>
          <input type="text" class="form-control" id="email" name="email">
        </div>

        <div class ="form-group">
          <label for ='pwd'> Password:</label>
          <input type="password" class="form-control" id="pwd" name="password">
        </div>


        <button type="submit" class="btn btn-default"> Log in </button>

    </form>


  </div>
</div>

</div>
</div>
